@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    background-color: rgba(137, 43, 226, 0.871);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: white;
    border-radius: 6px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px;
}